@charset "UTF-8";
section .wrap {
  display: flex;
  display: -o-flex;
  display: -moz-flex;
  display: -webkit-flex; }
  section .wrap .section_left {
    width: 17%;
    padding-top: 68px;
    flex-shrink: 0; }
    section .wrap .section_left .word {
      text-align: center;
      margin-bottom: 56px; }
      section .wrap .section_left .word h2 {
        font-weight: normal; }
        section .wrap .section_left .word h2 div {
          font-size: 26px; }
        section .wrap .section_left .word h2 span {
          font-size: 12px; }
    section .wrap .section_left .code .code_img img {
      display: block;
      margin: 0 auto 10px; }
    section .wrap .section_left .code .code_word {
      text-align: center; }
      section .wrap .section_left .code .code_word img {
        vertical-align: middle; }
  section .wrap .section_cnt {
    flex-grow: 1;
    padding: 80px 100px 125px 100px;
    background: #F4F4F4; }
    section .wrap .section_cnt .cnt_menu {
      padding-bottom: 70px;
      position: relative;
      height: 32px;
      overflow: hidden;
      background: #F4F4F4; }
      section .wrap .section_cnt .cnt_menu .menu_hide {
        display: none;
        color: #fff;
        text-align: center;
        position: relative; }
        section .wrap .section_cnt .cnt_menu .menu_hide .menu_hide_title {
          padding: 14px 0;
          background: url("../img/arrow_down.png") no-repeat right center black; }
        section .wrap .section_cnt .cnt_menu .menu_hide .ulist {
          width: 100%;
          position: absolute;
          z-index: 0; }
          section .wrap .section_cnt .cnt_menu .menu_hide .ulist li {
            background: #000;
            margin: 2px 0; }
            section .wrap .section_cnt .cnt_menu .menu_hide .ulist li a {
              display: inline-block;
              color: #fff;
              padding: 10px 0; }
      section .wrap .section_cnt .cnt_menu span {
        display: inline-block;
        width: 78px;
        line-height: 30px;
        color: #838383;
        text-align: center;
        background: #fff;
        border: 1px solid gray; }
        section .wrap .section_cnt .cnt_menu span:hover {
          cursor: pointer;
          color: #fff;
          background: #316DC5; }
    section .wrap .section_cnt .cnt_list {
      display: flex;
      display: -o-flex;
      display: -moz-flex;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: center; }
      section .wrap .section_cnt .cnt_list li {
        width: 100%;
        height: 100%;
        text-align: left;
        line-height: 25px;
        font-size: 12px;
        border-bottom: 1px solid gray;
        display: flex;
        display: -o-flex;
        display: -moz-flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center; }
        section .wrap .section_cnt .cnt_list li .list_img {
          height: 100%;
          display: flex;
          display: -o-flex;
          display: -moz-flex;
          display: -webkit-flex;
          align-items: center;
          margin-left: 20px;
          margin-right: 94px;
          padding: 60px 0; }
          section .wrap .section_cnt .cnt_list li .list_img img {
            width: 250px;
            height: 150px; }
        section .wrap .section_cnt .cnt_list li .introduce .int_title {
          padding: 40px 0 10px;
          font-size: 16px; }

@media screen and (max-width: 992px) {
  /*当屏幕尺寸小于992px时，应用下面的CSS样式*/
  .wrap {
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto; }
    .wrap .section_left {
      width: 100% !important; }
      .wrap .section_left .word {
        display: none; } }
@media screen and (max-width: 784px) {
  .section_cnt {
    width: 100%;
    box-sizing: border-box;
    background: none !important;
    padding: 0 15px !important; }
    .section_cnt .cnt_menu {
      background: #F4F4F4;
      height: 45px !important;
      padding: 40px 30px !important; }
      .section_cnt .cnt_menu .front_menu {
        display: none; }
      .section_cnt .cnt_menu .menu_hide {
        display: block !important;
        height: 45px; }
    .section_cnt .cnt_list {
      background: #F4F4F4; }
      .section_cnt .cnt_list li {
        flex-direction: column; } }

/*# sourceMappingURL=information.css.map */
